<nav class="navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="javascript:void(0);" class="navbar-brand nav-link">Recipe Book</a>
        </div>

        <div class="collaspe navbar-collaspe">
            <ul class="nav navbar-nav navbar-center">
                <li><a href="javascript:void(0);" class="nav-link">Recipes</a></li>
                <li><a href="javascript:void(0);" class="nav-link">Shopping Lists</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item" class="dropdown" [ngClass]="{'open': dropdownOpen}">
                    <a href="javascript:void(0);" class="dropdown-toggle nav-link" role="button" (mouseover)="dropdownOpen = !dropdownOpen">Manage <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0);">Save Data</a></li>
                        <li><a href="javascript:void(0);">Fetch Data</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>     
</nav>